.technology {
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    img {
      width: 3.2rem;
      height: 3.6rem;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: var(--base);
      font-weight: 600;
      line-height: 2.8rem;
      color: var(--title);
    }
  }
}
