.loginPage main {
  width: min(100vw - 20%);

  margin: auto;

  display: grid;
  grid-template-columns: 1fr minmax(20rem, 1fr);
  grid-column-gap: 2.2rem;
}

.loginPage main .sideImage {
  display: flex;
}

.loginPage main .sideImage img {
  min-width: 40rem;
  min-height: 30rem;
}

.loginPage form.form .input-group:last-of-type {
  margin-bottom: 0;
}

.loginPage form.form p.signupMessage {
  margin-top: 3.6rem;
}

@media (max-width: 850px) {
  .loginPage main {
    display: flex;
    justify-content: center;
  }

  .loginPage main .sideImage {
    display: none;
  }
}
