::-ms-reveal {
  display: none;
}

.loginPage header {
  width: 100%;

  padding-block: 5.2rem 6.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.loginPage header img {
  width: 12rem;
  height: 12rem;
}

.loginPage header h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--title);
}

.loginPage main {
  width: min(100vw - 20%);

  margin: auto;

  display: grid;
  grid-template-columns: 1fr minmax(20rem, 1fr);
  grid-column-gap: 2.2rem;
}

.loginPage main form {
  max-width: 43rem;
  min-height: 37.6rem;

  display: flex;
  flex-direction: column;
}

.loginPage main form h1 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;
  color: var(--title);
}

.loginPage main form p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--text);

  margin-block: 0.6rem 4.6rem;
}

.loginPage main form .input-group {
  width: 100%;
  margin-bottom: 3.6rem;

  display: flex;

  border-bottom: 1px solid var(--text);
}

.loginPage main form .input-group input {
  width: 100%;
  background: none;
  outline: none;
  border: none;

  padding-bottom: 1.2rem;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--title);
}

.loginPage main form .input-group:focus-within {
  border-bottom: 1px solid var(--title);
}

.loginPage main form .showPasswordBtn {
  cursor: pointer;
}

.loginPage main form span {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}

.loginPage main form span:hover {
  filter: brightness(1.2);
}

.loginPage main form button {
  width: 100%;
  height: 4.8rem;

  background-color: var(--primary-color);

  border-radius: 6px;
  border: none;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: #ffffff;

  transition: 0.3s ease;
  cursor: pointer;
}

.loginPage main form button:hover {
  filter: brightness(0.9);
}

.loginPage main .sideImage {
  display: flex;
}

.loginPage main .sideImage img {
  min-width: 40rem;
  min-height: 30rem;
}

@media (max-width: 1150px) {
  .loginPage header img {
    width: 8rem;
    height: 8rem;
  }

  .loginPage header h1 {
    font-size: 3.6rem;
  }

  .loginPage main form h1 {
    font-size: 2.2rem;
  }

  .loginPage main form p,
  button {
    font-size: 1.6rem;
  }
}

@media (max-width: 850px) {
  .loginPage main {
    display: flex;
    justify-content: center;
  }

  .loginPage main .sideImage {
    display: none;
  }
}
