.book-page .book-details-container .book-info {
  width: 100%;
  min-height: 11rem;

  padding-inline: 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--text);
}

.book-page .book-details-container .book-info .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.book-page .book-details-container .book-info .info-container .title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--title);
}

.book-page .book-details-container .book-info .info-container .data {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--text);
}
