/* DETAILS SECTION */
.book-page .book-details-container {
  padding-top: 6rem;
}

.book-page .book-details-container .sumario h1 {
  font-family: 'Montserrat';
  font-size: var(--xl);
  font-weight: 600;
  line-height: 3.9rem;
  color: var(--title);
}
.book-page .book-details-container .sumario h2 {
  padding-block: 0.6rem 2.4rem;

  font-family: 'Montserrat';
  font-style: italic;
  font-size: var(--lg);
  font-weight: 500;
  line-height: 2.9rem;
  color: var(--title);
}
.book-page .book-details-container .sumario p {
  font-family: 'Montserrat';
  font-size: var(--sm);
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--text);
}

.book-page .book-details-container .sumario button {
  width: 6rem;
  height: 3rem;
  margin: auto;

  margin-block: 1.8rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  background-size: 300%;
  background-position: left;
  background-color: transparent;
  background-image: var(--gradient1);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.book-page .book-details-container .sumario button:hover {
  background-position: right;
}
