@import '../components/CarouselCard';

.home-page {
  height: 100%;
  padding-block: 4.2rem 3.2rem;

  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: 'Montserrat', sans-serif;

  main {
    padding-bottom: 2rem;
    width: min(100vw - 20%);
    margin: auto;

    display: grid;
    grid-template-columns: minmax(30rem, 1fr) minmax(20rem, 1fr);

    header {
      max-width: 46.1rem;

      h1 {
        font-size: var(--xxl);
        font-weight: 600;
        line-height: 4.8rem;
        color: var(--title);
      }

      h2 {
        padding-block: 2.6rem 6.4rem;

        font-size: var(--lg);
        font-weight: 500;
        line-height: 3.2rem;
        text-align: center;
        color: var(--text);
      }

      .explore-btn {
        width: 100%;

        button {
          width: 100%;
          height: 4.6rem;

          background-image: var(--gradient1);
          background-size: 300%;
          background-position: left;

          border: none;
          border-radius: 6px;

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.2rem;

          font-size: 1.8rem;
          font-weight: 500;
          line-height: 2.7rem;
          color: #ffffff;

          cursor: pointer;
          transition: 0.5s ease-in;

          &:hover {
            background-position: right;
          }
        }
      }
    }
    .side-image {
      display: flex;
      justify-content: flex-end;
      height: 30rem;

      img {
        height: 100%;
      }
    }

    .carousel-container {
      display: flex;
      justify-content: center;
    }
  }

  .carousel {
    width: min(100vw - 20%);
    height: 38rem;

    margin: 3.2rem auto;
    padding-inline: 2.2rem;

    overflow: hidden;

    background-color: var(--carousel-bg);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) -60px 0px 36px -28px inset,
      rgba(0, 0, 0, 0.24) 0px 3px 8px;

    cursor: grabbing;
    transition: 0.3s ease-in-out;

    .images {
      width: auto;
      height: 100%;

      display: flex;
      align-items: center;
    }
  }
}

.home-page::-webkit-scrollbar {
  display: none;
}
