@import './pages/Login';
@import './pages/Signup';
@import './pages/Home';
@import './pages/ExploreBooks/ExploreBooks';
@import './pages/About';
@import './pages/Contact';
@import './pages/Working';

.App {
  transition: background 0.3s ease-in-out;
}

.App[data-theme='light'] {
  background-color: var(--background);
}

.App[data-theme='dark'] {
  background-color: var(--background);
}

.error-message {
  padding-top: 0.6rem;
  font-size: var(--xs);
  font-weight: 400;
  line-height: 1.6rem;
  color: #b71717;
}
