@import 'Media';

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --webkit-font-smoothing: antialiased;

  /* COLORS */
  --purple-G: linear-gradient(135deg, #8078bf 27.4%, #574cff 100%);
  --white-G: linear-gradient(135deg, #ededed 27.4%, #dcdafb 100%);

  --background: #f6f6f6;
  --menu-bg: #d9d9d9;
  --white-to-gray: #ffffff;
  --dashboard-input: #f6f6f6;

  --title: hsl(247, 36%, 38%, 100%);
  --text: hsl(247, 36%, 38%, 80%);
  --icon: hsl(247, 36%, 38%, 80%);

  /* TYPOGRAPHY */
  --xxl: 3.6rem;
  --xl: 3.2rem;
  --lg: 2.2rem;
  --base: 1.8rem;
  --sm: 1.6rem;
  --xs: 1.4rem;
}

[data-theme='dark'] {
  --background: #121212;
  --menu-bg: #26262b;
  --white-to-gray: #26262b;
  --dashboard-input: #121212;

  --title: #ffffff;
  --text: rgba(255, 255, 255, 0.5);
  --icon: #89898A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html,
body,
#root,
.App {
  width: 100%;
  min-height: 100vh;
}

::-ms-reveal {
  display: none;
}

@media (max-width: 1280px) {
  :root {
    font-size: 52%;
  }
}
