.home-page {
  height: 100%;
  padding-bottom: 3.2rem;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home-page main {
  padding-block: 4.2rem 3.6rem;
  width: min(100vw - 20%);
  margin: auto;

  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: minmax(30rem, 1fr) minmax(20rem, 1fr);
}

.home-page main header {
  max-width: 52rem;
  margin: auto;
}

.home-page main header h1 {
  font-family: 'Montserrat';
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.9rem;
  color: var(--title);
}

.home-page main header h2 {
  padding-block: 1.8rem 7.2rem;

  font-family: 'Montserrat';
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  color: var(--text);
}

.home-page main .search-input-group {
  width: 100%;
  display: flex;
}

.home-page main .search-input-group button {
  width: 4.6rem;
  height: 4.6rem;
  margin-right: 1.6rem;

  background: none;
  border: 1px solid var(--title);
  border-radius: 4px;
  cursor: pointer;
}

.home-page main .search-input-group input {
  width: 100%;

  background: none;
  outline: none;
  border: 1px solid var(--title);
  border-radius: 4px;

  font-family: 'Montserrat';
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  color: var(--title);
}

.home-page .home-side-image {
  height: 32rem;
  display: flex;
  justify-content: center;
}

.home-page .home-side-image img {
  width: 100%;
}

section.carousel-container {
  display: flex;
  justify-content: center;
}

.home-page .carousel {
  width: min(100vw - 20%);
  height: 38rem;

  margin: 3.2rem auto;
  padding-inline: 2.2rem;

  overflow: hidden;

  background-color: var(--carousel-bg);
  border-radius: 6px;

  cursor: grabbing;
  transition: 0.3s ease-in-out;
}

.home-page .carousel .images {
  width: auto;
  height: 100%;

  display: flex;
  align-items: center;
}

.home-page .icon {
  width: 2.6rem;
  height: 2.6rem;
}

@media (max-width: 1170px) {
  .home-page main {
    grid-column-gap: 3%;
  }
}

@media (max-width: 988px) {
  .home-page main header h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 878px) {
  .home-page main header h1 {
    font-size: 3rem;
  }
  .home-page main header h2 {
    font-size: 2rem;
  }

  .home-page main .search-input-group input {
    font-size: 1.8rem;
  }
}

@media (max-width: 830px) {
  .home-page main {
    padding-bottom: 0rem;
    grid-template-columns: 1fr;
    grid-row-gap: 3.6rem;
  }

  .home-page main header h2 {
    padding-bottom: 4.6rem;
  }

  .home-page .home-side-image {
    height: auto;
    width: 100%;
  }

  .home-side-image img {
    max-height: 32rem;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .home-page header {
    text-align: center;
  }

  .home-page main header h1 {
    line-height: 4.9rem;
  }
}
