.navbar-container {
  width: 100%;
  height: 8.6rem;

  background-color: #26262b;
}

.navbar {
  width: min(100vw - 20%);
  height: 100%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.navbar .logo-image {
  width: 18rem;
  height: 4.8rem;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  gap: 6.8rem;
}

.navbar .nav-links li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #ffffff;

  position: relative;
}

.navbar .nav-links li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navbar .nav-links li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar .buttons-container {
  display: flex;
  gap: 1.6rem;
}

.navbar .buttons-container button {
  max-height: 5rem;
  padding: 1.4rem 2.6rem;

  border: none;
  border-radius: 4px;
  background-size: 300%;
  background-position: left;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;

  cursor: pointer;
  transition: 0.5s ease-in;
}

.navbar .buttons-container button.primary-button {
  background-image: var(--gradient1);
  color: #ffffff;
}

.navbar .buttons-container button.secondary-button {
  background-image: var(--gradient2);
  color: #453d83;
}

.navbar .buttons-container button:hover {
  background-position: right;
}

.burger-menu {
  display: none;

  position: absolute;
  right: 0;
  top: 28%;

  cursor: pointer;
}

@media (max-width: 1040px) {
  .navbar .nav-links {
    gap: 3.6rem;
  }

  .navbar .buttons-container {
    gap: 0.8rem;
  }

  .navbar .buttons-container button {
    padding: 1.2rem 1.8rem;
  }
}

@media (max-width: 730px) {
  .navbar .nav-links,
  .navbar .buttons-container {
    display: none;
  }

  .navbar-container.active {
    height: 100vh;
    width: 100%;
  }

  .navbar.active {
    padding-top: 8rem;

    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .navbar.active .logo-image {
    width: 18rem;
    height: 6.8rem;

    margin-bottom: 3.2rem;
  }

  .navbar.active .nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .navbar.active .nav-links li {
    font-size: 1.8rem;
  }

  .navbar.active .buttons-container {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
  }

  .navbar.active .buttons-container button {
    width: 100%;
  }

  .navbar.active .burger-menu {
    top: 5%;
  }

  .burger-menu {
    display: block;
  }
}
