@import './BooksFilter';

.explore-books-page {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;

  padding-bottom: 2.6rem;

  header {
    width: min(100vw - 20%);
    margin: 4rem auto 0;
    padding-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: var(--xxl);
      color: var(--title);
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: var(--sm);
      color: var(--title);

      span {
        font-size: var(--sm);
        font-weight: 400;
        color: var(--text);
      }
    }

    .input-group {
      width: 24.9rem;
      height: 4.6rem;

      padding-inline: 2.2rem 1.6rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 2px solid var(--text);
      border-radius: 999px;

      input {
        height: 100%;
        width: 100%;

        background: none;
        border: none;
        outline: none;

        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: var(--text);
      }

      input::-webkit-input-placeholder {
        color: var(--text);
      }
    }
  }

  main {
    width: min(100vw - 20%);
    margin: auto;

    display: flex;

    border-top: 1px solid var(--text);

    .menu-icon {
      display: none;

      width: 20rem;
      height: 3.2rem;
      margin: 2rem auto;

      border-radius: 6px;
      border: none;
      background-image: var(--purple-G);
      background-position: left;
      background-size: 300%;

      font-family: 'Montserrat';
      font-size: 1.2rem;
      font-weight: 500;
      color: #ffffff;

      cursor: pointer;
      transition: 0.5s ease-in;

      &:hover {
        background-position: right;
      }
    }

    aside {
      width: 15%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;

      padding-top: 2.4rem;
      padding-right: 0.8rem;

      border-right: 1px solid var(--text);
    }

    aside.active {
      padding-top: 0;
      width: 100%;
      border: none;

      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    section {
      width: 85%;

      .books-container {
        display: grid;
        padding: 2.4rem 2.6rem 2.6rem;

        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 2.6rem;
        grid-column-gap: 2.6rem;

        .card-wrapper {
          padding: 1.2rem;

          display: flex;
          flex-direction: column;
          align-items: center;

          border-radius: 8px;

          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          background-color: var(--white-to-gray);

          img {
            width: 100%;

            height: 26rem;
            border-radius: 4px;

            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          }

          footer {
            width: 18rem;

            h3 {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 5.6rem;
              font-family: 'Montserrat', sans-serif;
              font-size: var(--xs);
              text-align: center;
              color: var(--title);
            }

            p {
              font-family: 'Montserrat', sans-serif;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5rem;
              text-align: center;
              color: var(--title);
            }
          }

          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }

    section.categorieMenu {
      display: none;
    }
  }
}
