.App {
  transition: background 0.3s ease-in-out;
}

.App[data-theme='light'] {
  background-color: var(--page-bg);
}

.App[data-theme='dark'] {
  background-color: var(--page-bg);
}

/* LOGIN FORM & SIGN UP FORM */
form.form {
  max-width: 43rem;
  min-height: 37.6rem;

  display: flex;
  flex-direction: column;
}

form.form h1 {
  font-size: var(--xxl);
  font-weight: 600;
  line-height: 4.2rem;
  color: var(--title);
}

form.form p {
  font-size: var(--base);
  font-weight: 500;
  line-height: 2.1rem;
  color: var(--text);

  margin-block: 0.6rem 6rem;
}

form.form .inputs-container {
  margin-bottom: 2.6rem;
}

form.form .input-group {
  width: 100%;
  margin-bottom: 3.2rem;

  display: flex;

  border-bottom: 1px solid var(--text);
}

form.form .input-group input {
  width: 100%;
  padding-bottom: 1.2rem;

  background: none;
  outline: none;
  border: none;

  font-size: var(--sm);
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--title);
}

form.form .input-group input::-webkit-input-placeholder {
  color: var(--text);
}

form.form .input-group:focus-within {
  border-bottom: 1px solid var(--title);
}

form.form .show-password-button {
  cursor: pointer;
}

form.form button {
  width: 100%;
  padding-block: 1.2rem;

  background-color: transparent;
  background-image: var(--gradient1);
  background-size: 300%;
  background-position: left;

  border-radius: 6px;
  border: none;

  font-size: var(--base);
  font-weight: 600;
  line-height: 2.1rem;
  color: #ffffff;

  transition: 0.5s ease-in;
  cursor: pointer;
}

form.form button:focus,
form.form button:hover {
  background-position: right;
}

/* ERROR MESSAGE */
.error-message {
  padding-top: 0.6rem;
  font-size: var(--xs);
  font-weight: 400;
  line-height: 1.6rem;
  color: #b71717;
}
