.App {
  transition: 0.3s ease-in-out;
}

.App[data-theme='light'] {
  background-color: var(--background);
}

.App[data-theme='dark'] {
  background-color: var(--background);
}

/* LOGIN FORM & SIGN UP FORM */
form.form {
  max-width: 43rem;
  min-height: 37.6rem;

  display: flex;
  flex-direction: column;
}

form.form h1 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.8rem;
  color: var(--title);
}

form.form p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--text);

  margin-block: 0.6rem 4.6rem;
}

form.form .input-group {
  width: 100%;
  margin-bottom: 3.6rem;

  display: flex;

  border-bottom: 1px solid var(--text);
}

form.form .input-group input {
  width: 100%;
  padding-bottom: 1.2rem;

  background: none;
  outline: none;
  border: none;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--title);
}

form.form .input-group input::-webkit-input-placeholder {
  color: var(--text);
}

form.form .input-group:focus-within {
  border-bottom: 1px solid var(--title);
}

form.form .show-password-button {
  cursor: pointer;
}

form.form button {
  width: 100%;
  height: 4.8rem;

  background-color: transparent;
  background-image: var(--gradient1);
  background-size: 300%;
  background-position: left;

  border-radius: 6px;
  border: none;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: #ffffff;

  transition: 0.5s ease-in;
  cursor: pointer;
}

form.form button:focus,
form.form button:hover {
  background-position: right;
}

/* ERROR MESSAGE */
.error-message {
  padding-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #b71717;
}

@keyframes btn-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
