:root {
  --background: #121212;
  --carousel-bg: #121212;
  --title: #ffffff;
  --text: rgba(255, 255, 255, 0.5);
  --primary-color: #8078bf;
  --disableBTN-color: #BEBADE;

  --webkit-font-smoothing: antialiased;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

[data-theme='light'] {
  --background: #f6f6f6;
  --carousel-bg: #D9D9D9;
  --title: #453d83;
  --text: rgba(69, 61, 131, 0.8);
  --primary-color: #8078bf;
}

::-ms-reveal {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html,
body,
#root,
.App {
  width: 100%;
  min-height: 100%;
}
