@import 'ActionButton';
@import 'AddBook';
@import 'DeleteBook';
@import 'UpdateBook';

.dashboard {
  width: 100%;
  min-height: 100vh;

  padding-bottom: 2.2rem;

  .action-buttons {
    margin-top: 2.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
  }

  .painel {
    button {
      width: 100%;
      height: 4.8rem;

      border: none;
      border-radius: 8px;

      font-family: 'Roboto', sans-serif;
      font-size: var(--sm);
      font-weight: 600;
      line-height: 1.9rem;

      cursor: pointer;
      transition: 0.5s ease-in;

      &:nth-child(1) {
        background-image: var(--gradient2);
        background-size: 300%;
        background-position: left;
        color: #453d83;
      }

      &:nth-child(1):hover {
        background-position: right;
      }

      &:nth-child(2):hover {
        filter: brightness(0.9);
      }
    }
  }
}
